<?xml version="1.0" encoding="UTF-8"?>
<webapps>
<servlet>
<servlet-name>ShowGoodsServlet</servlet-name>
<servlet-class>com.chenxi.servlet.ShowGoodsServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ShowGoodsServlet</servlet-name>
<url-pattern>/ShowGoodsServlet</url-pattern>
</servlet-mapping>
</webapps>